<div class="card border-primary tarjeta mb-3 panel">
  <div class="card-header">Estilos musicales de usuarios</div>
  <div class="card-body text-primary">
    <h4 class="card-title">Listado de gustos musicales de usuarios </h4>
    <div *ngIf="usuarios.length == 0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-sm table-md" *ngIf="usuarios.length > 0">
        <thead>
            <tr>
              <th>Mail de usuario</th>
              <th>Estilo musical</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
             <td>{{usuario.mail}}</td>
             <td>{{usuario.tipoMusica.estiloMusical}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-paginator-usuario *ngIf="paginador" [paginador]="paginador"></app-paginator-usuario>
  </div>
</div>
<div class="col-md-3 d">
  <div class="card text-center  bg-success text-white mb-3">
    <div class="card-body">
      <h3>Total Registros</h3>
      <h4 class="display-4">
        <i class="fas fa-money-bill-wave"></i> {{cantidad}}
    </h4>
    </div>
  </div>
</div>
