<img src="../../../assets/nosotrois.jpg" class="img-fluid" alt="">

<p class="lh-1">Este es un proyecto full stack para una prueba técnica de encuesta para gustos musicales</p>
<p class="lh-sm">Los resultados de la encuesta estan en la opcion del menú resultados</p>
<p class="lh-base">Los resultados se presentan en una tabla donde el número es la cantidad de gente que eligio un estilo músical y la otra columna es el estilo musical que eligieron</p>
<p class="lh-lg">Estos estilos y número de gente que eligio va cambiando segun ingresa un usuario a la encuesta</p>
