<ul class="alert alert-danger" *ngIf="errores.length > 0">
  <li *ngFor="let err of errores">
      {{ err }}
  </li>
</ul>
<div class="card bg-dark text-white my-4 ">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form #usuarioForm="ngForm">
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Su email</label>
        <div class="col-sm-6">
          <input
          type="email"
          class="form-control"
          [(ngModel)]="usuario.mail"
           name="email"
           #mail="ngModel"
           >
           <div
           class="alert alert-danger"
           *ngIf="mail.invalid && (mail.dirty || mail.touched)"
       >
       <div *ngIf="mail.errors?.['required']">
        El email es requerido
       </div>
           </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="tipoMusica" class="col-form-label col-sm-2">Estilo musical</label>
        <div class="col-sm-6">
          <select [compareWith]="compararTipo" class="form-control" [(ngModel)]="usuario.tipoMusica" name="tipoMusica" style="width: 440px;">
            <option   disabled="disabled"[ngValue]="undefined">--- seleccionar un estilo musical ---</option>
            <!-- se esta pasando por valor en el ngValue la instancia del objeto tipo en cada iteracion y despues en nombre en {{}} -->
            <option  selected="true" *ngFor="let tipoMusica of tipos" [ngValue]="tipoMusica">
              {{tipoMusica.estiloMusical}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!usuario.id; else  elseBlock" [disabled]="!usuarioForm.form.valid">
               Enviar
          </button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!usuarioForm.form.valid">
              Editar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
